alabaster==0.7.12
amqp==2.5.1
appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.8.0
backcall==0.1.0
bandit==1.6.2
beautifulsoup4==4.9.1
billiard==3.6.1.0
black==19.3b0
blinker==1.4
celery==4.3.0
certifi==2020.6.20
chardet==3.0.4
Click==7.0
coverage==4.5.4
decorator==4.4.0
Django==2.2.4
django-debug-toolbar==2.0
django-environ==0.4.5
django-extensions==2.2.1
djangorestframework==3.10.2
django-taggit==1.3.0
docutils==0.16
feedgenerator==1.9.1
gitdb2==2.0.5
GitPython==3.0.2
gunicorn==19.9.0
htmlmin==0.1.12
idna==2.10
imagesize==1.2.0
importlib-metadata==0.19
ipdb==0.12.2
ipython==7.7.0
ipython-genutils==0.2.0
jedi==0.15.1
Jinja2==2.11.2
kombu==4.6.4
lxml==4.5.2
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
packaging==19.1
pandoc==1.0.2
parso==0.5.1
pbr==5.4.2
pelican==4.5.0
pelican-gist==0.3.4
pelican-htmlmin==1.0.2
pelican-metadataparsing==0.1.0
pelican-youtube==0.2.1
pexpect==4.7.0
pickleshare==0.7.5
pip-tools==4.1.0
pluggy==0.12.0
ply==3.11
prompt-toolkit==2.0.9
psycopg2-binary==2.8.3
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pydocstyle==4.0.1
pyflakes==2.1.1
Pygments==2.4.2
pylama==7.7.1
pyparsing==2.4.2
pytest==5.1.1
pytest-bandit==0.5.2
pytest-cov==2.7.1
pytest-django==3.5.1
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2019.2
PyYAML==5.1.2
requests==2.24.0
rstcheck==3.3.1
sentry-sdk==0.16.5
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.9.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.3.0
stevedore==1.30.1
text-unidecode==1.3
toml==0.10.0
traitlets==4.3.2
Unidecode==1.1.1
urllib3==1.25.10
vine==1.3.0
wcwidth==0.1.7
Werkzeug==0.15.5
zipp==0.6.0
