{% extends 'base.html' %}

{% block title %}{{ article.title|striptags }} / {{ super() }}{% endblock %}
{% block description %}{{ article.summary|striptags }}{% endblock %}
{% block twitter_title %}{{ article.title|striptags }}{% endblock %}
{% block twitter_description %}{{ article.summary|striptags }}{% endblock %}

{% block content %}
  <h2 class="article-title">
    {{ article.title }}
  </h2>
  <div class="article-meta date-posted">
    {% include 'partial/article_meta.html' %}
    {% include 'partial/tags.html' %}
  </div>
  <div class="article-content">
    {{ article.content }}
  </div>
  {# <div class="unsplash-featured">
    <span>
    Photo by <a href="https://unsplash.com/{{ unsplash_author }}?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">{{ unsplash_author_display }}</a> on 
        <a href="https://unsplash.com/photos/{{ unsplash_photo }}?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </span>
    unsplash_author: @carissaweiser
    unsplash_photo: oPI3Oxj_cEw
    {% include 'partial/unsplash_disclaimer.html' %}
  </div> #}
{% endblock %}
