<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{{ SITE_DESCTIPTION }}{% endblock %}" />
    <meta name="author" content="{{ AUTHOR_NAME }}">

    {#% include 'document_meta.html' %#}

    {% if FEED_ALL_ATOM %}
    <link type="application/atom+xml" rel="alternate" href="/{{ FEED_ALL_ATOM }}"  title="{{ SITE_DESCTIPTION }} - Atom Feed">
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link type="application/rss+xml" rel="alternate" href="/{{ FEED_ALL_RSS }}" title="{{ SITE_DESCTIPTION }} - RSS Feed">
    {% endif %}

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" href="/theme/css/{{ CSS_FILE }}" type="text/css"/>
    {#<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lato:400,300,600&amp;subset=cyrillic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Ubuntu:400,300,600&amp;subset=cyrillic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Play:400,300,600&amp;subset=cyrillic" rel="stylesheet" type="text/css">#}
    <link href="//fonts.googleapis.com/css?family=Exo+2:400,300,600&amp;subset=cyrillic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/theme/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/theme/favicon.ico" type="image/x-icon">
    
    {#% include 'meta_twitter.html' %#}
    <meta name="facebook:" />
  </head>
  <body>
    <div class="page-wrapper">
      
      {#<nav class="no-print">
        <header><a href="/"></a></header>
      </nav>#}

      <header class="site-header">
        <div class="site-branding">
            <h1 class="site-title"><a href="https://blog.filipgorczynski.me/" rel="home">{{ SITENAME }}</a></h1>
            {#<p class="site-description">Radosne twórczości leniwego programisty</p>#}
        </div>

        {#<nav class="main-navigation">
          <button class="menu-toggle" style="display: none;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><rect x="0" fill="none" width="16" height="16"></rect><g><path id="menu-icon" d="M0 14h16v-2H0v2zM0 2v2h16V2H0zm0 7h16V7H0v2z"></path></g></svg>
            Menu			</button>
          <div class="menu"></div>
        </nav>#}
      </header>

      <div class="content">
        <div class="primary">
          <div class="main">
          {% block content %}
          {% endblock %}
          </div>
        </div>
        <div class="secondary">
          Categories
          <ul class="categories">
            <li><a href="/tech.html">⚙️ Tech</a></li>
            <li><a href="/life.html">🌱 Life</a></li>
            <li><a href="/notes.html">📝 Notes</a></li>
          </ul>
        </div>
      </div>

    {#<ul>
      <li><a href="{{ SITE_URL }}">Blog</a></li>
      <li><a href="{{ SITE_URL }}/about-me">About me</a></li>
    </ul>#}

    <div class="footer no-print">
        <div class="copyright">This work is protected (<a href="https://blog.filipgorczynski.me/license">LICENSE</a>)</div>
      </div>
    </div>

    {% include 'google_tracking.html' %}
    {% include 'common/mailchimp.html' %}
  </body>
</html>