<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{{ SITE_DESCTIPTION }}{% endblock %}" />
    <meta name="author" content="{{ AUTHOR_NAME }}">

    <meta name="tags" content="thats, awesome" />
    <meta name="date" content="2012-07-09 22:28" />
    <meta name="modified" content="2012-07-10 20:14" />
    <meta name="category" content="{{ CATEGORY }}" />
    <meta name="summary" content="Short version for index and feeds" />

    {% if FEED_ALL_ATOM %}
    <link type="application/atom+xml" rel="alternate" href="/{{ FEED_ALL_ATOM }}"  title="{{ SITE_DESCTIPTION }} - Atom Feed">
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link type="application/rss+xml" rel="alternate" href="/{{ FEED_ALL_RSS }}" title="{{ SITE_DESCTIPTION }} - RSS Feed">
    {% endif %}

    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    
    {% include 'meta_twitter.html' %}
    <meta name="facebook:" />
  </head>
  <body>
    <div class="page-wrapper">
      <nav class="no-print">
        <header><a href="/">Filip Górczyński</a></header>
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/about/">About me</a></li>
        </ul>
      </nav>
      {% block content %}
      {% endblock %}
      <div class="footer no-print">
        <div class="copyright">This work is <a href="https://creativecommons.org/publicdomain/zero/1.0/">public domain</a> (<a href="https://github.com/filipgorczynski/blog.filipgorczynski.me/">source</a>)</div>
      </div>
    </div>

    {% include 'google_tracking.html' %}
    {% include 'common/mailchimp.html'}
  </body>
</html>