{% extends 'base.html' %}

{% block content %}
  <div class="articles">
    {% for article in articles_page.object_list %}
    <div class="article-preview">
      <h2 class="article-title">
        <span class="date-posted">{{ article.date|strftime('%d %b \'%y') }}</span> <a class="title" href="{{ article.url }}">{{ article.title }}</a>
      </h2>
      <div class="summary">{{ article.summary }}</div>
    </div>
    {% endfor %}
  </div>
  {% include 'partial/pagination.html' %}
{% endblock %}
