{% if OG_LOCALE %}
  {% set default_locale = OG_LOCALE %}
{% else %}
  {% set default_locale = 'en_US' %}
{% endif %}
<meta property="og:site_name" content="{{ SITENAME }}"/>
<meta property="og:title" content="{% block og_title %}{{ SITENAME }}{% endblock %}"/>
<meta property="og:description" content="{% block og_description %}{{ SITEDESCRIPTION }}{% endblock %}"/>
<meta property="og:image" content="{% block og_image %}{{ SITELOGO }}{% endblock %}">
<meta property="og:locale" content="{{ default_locale }}"/>
<meta property="og:url" content="{{ SITEURL }}"/>
<meta property="og:type" content="blog"/>
