@import "./normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

html,
body {
  height: 100%;
  /* font-size: 14px; */
  color: #222;
  font-family: "Ubuntu", Sans-Serif;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a { 
  text-decoration: none;
  color: #64b5f6;
}

code,
pre {
  font-family: 'Ubuntu Mono', monospace;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-wrapper {
  max-width: 1153px;
  margin: 0 auto;
  padding: 16px;
  overflow: hidden;}

.site-header {
  text-align: center;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 2px solid #64B5F6
}

.site-title a {
  color: #333;
}

.main-navigation {
  display: flex;
  justify-content: space-around
}

.main-navigation a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #333;
}

.categories {
  display: flex;
  padding: 16px;
  justify-content: space-around;
}

.categories a {
  color: #333;
}

.categories a:hover {
  color: #64b5f6;
}

.date-posted {
  color: #bbdefb;
  float: right;
  clear; both;
}