

/* nav, h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", Sans-Serif;
  color: #222;
} */

nav {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
a:link,
a:visited,
a:active {
  color: #2196F3;
  text-decoration: none;
  font-weight: 700;
}

.page-wrapper {
  max-width: 1153px;
  margin: 54px auto;
  padding: 54px 108px;
  overflow: hidden;
  background-color: #ededed;
}
.social-links a {
  display: inline-block;
  text-indent: -9999px;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  background-position: center;
  background-size: 4rem;
}
.social-links .github {
  background-image: url("../images/github.svg");
}
.social-links .exercism {
  background-image: url("../images/exercism.svg");
}
.social-links .codewars {
  background-image: url("../images/codewars.svg");
}
.social-links .codesignal {
  background-image: url("../images/codesignal.svg");
}
.social-links .email {
  background-image: url("../images/email.svg");
}
.social-links .tweeter {
  background-image: url("../images/teeter.svg");
}


.site-header {
    margin: 0 0 27px;
    border-bottom: 1px solid #eee;
}

.site-branding {
    clear: both;
    margin-bottom: 14px;
    text-align: center;
}

.site-title {
  font-style: normal;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}

.site-title a {
  text-decoration: none;
  color: #666;
}

.site {
  width: 1153px;
  padding: 54px 108px;
}

.content {
  background: skyblue;
  width: 1153px;
}

.primary {
  width: 100%;
  float: left;
  margin: 0 -30% 0 0;
}

.secondary {
  width: 30%;
  float: right;
}

.main {
  margin: 0 30% 0 0;
}

.footer {
  width: 100%;
  float: none;
float: left;
}

.secondary .categories {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.secondary .categories li {
  margin: 0;
  padding: 0
}

/* nav>header {
    border-bottom: 2px solid #c1c1c1;
} */