@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('../fonts/iosevka/iosevka-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-style: italic;
  font-display: block;
  font-weight: 400;
  src: url('../fonts/iosevka/iosevka-latin-400-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: url('../fonts/iosevka/iosevka-latin-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Iosevka';
  font-style: italic;
  font-display: block;
  font-weight: 700;
  src: url('../fonts/iosevka/iosevka-latin-700-italic.woff2') format('woff2');
}
