@import "normalize.css";

nav, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", Sans-Serif;
}
body {
  font-family: "Lato", Sans-Serif;
  font-size: 1.1rem;
  color: #666;
}
nav {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
a:link,
a:visited,
a:active {
  color: #1c7c7c;
  text-decoration: none;
}
.page-wrapper {
  max-width: 1153px;
  margin: 54px auto;
  padding: 54px 108px;
}
.social-links a {
  display: inline-block;
  text-indent: -9999px;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  background-position: center;
  background-size: 4rem;
}
.social-links .github {
  background-image: url("../images/github.svg");
}
.social-links .exercism {
  background-image: url("../images/exercism.svg");
}
.social-links .codewars {
  background-image: url("../images/codewars.svg");
}
.social-links .codesignal {
  background-image: url("../images/codesignal.svg");
}
.social-links .email {
  background-image: url("../images/email.svg");
}
.social-links .tweeter {
  background-image: url("../images/teeter.svg");
}

code,
pre {
  font-family: "DejaVu Sans Mono", monospace;
  background-color: #ccc;
  padding: 0 0.2rem;
  font-size: 1rem;
  border-radius: 0.3rem;
}
@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

nav header {
  text-align: center;
}

.site-header {
    margin: 0 0 27px;
    padding: 0 0 24px;
    border-bottom: 3px solid #eee;
}

.site-branding {
    clear: both;
    margin-bottom: 14px;
    text-align: center;
}

.site-title {
  font-style: normal;
  font-weight: 400;
  font-family: "Ubuntu"
}

.site-title a {
  text-decoration: none;
  color: #666;
}

.site {
  width: 1153px;
  padding: 54px 108px;
}

.content {
  background: skyblue;
  border: 1px solid #f00;
  width: 937px;
}

.primary {
  width: 100%;
  background: lightgoldenrodyellow;
  float: left;
}

.secondary {
  width: 25%;
  background: lightcoral;
  float: right;
}

.main {
  margin: 0 30% 0 0;
  background-color: lightgreen;
}

/* nav>header {
    border-bottom: 2px solid #c1c1c1;
} */