@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Ubuntu", Sans-Serif;
  font-size: 1.1rem;
  font-size: 1.2em;
  color: #666;
  background-color: #f5f3ff;
}
nav {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
a:link,
a:visited,
a:active {
  color: #6366f1;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  color: #a5b4fc;
}

.page-wrapper {
  max-width: 1153px;
  margin: 0 auto;
  padding: 21px;
  padding: 15px;
}

code,
pre {
  font-family: "Ubuntu Mono", monospace;
  background-color: #ccc;
  padding: 0 0.2rem;
  font-size: 1rem;
  border-radius: 0.3rem;
}
@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

nav header {
  text-align: center;
}

.site-header {
    margin: 0 0 27px;
    border-bottom: 1px solid #8b5cf6;
}

.site-branding {
    margin-bottom: 14px;
    text-align: center;
}

.site-branding h1 {
  font-weight: 700;
  text-transform: uppercase;
}

.site-branding p {
  font-weight: 400;
  padding: 9px;
  text-align: right;
}

.site-title a {
  text-decoration: none;
  color: #666;
  text-align: center;
}

.site {
  width: 1153px;
  padding: 21px;
}

.content {
  max-width: 1153px;
  overflow: hidden;
}

.primary {
  width: 100%;
  float: left;
}

.secondary {

}

.main {
  margin: 0;
}

.main h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #6366f1;
}

.footer {
  margin: 54px 0 27px;
  width: 100%;
}

.footer .copyright {
  padding: 27px 12px 0;
  border-top: 1px solid #8b5cf6;
  font-size: 14px;
  color: #a78bfa;
}

.categories {
  overflow: hidden;
  list-style-type: none;
  margin: 0 0 21px;
  padding: 0;
}

.categories li {
  display: block;
  list-style-type: none;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.categories li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 12px 24px 12px 8px;
  font-weight: 700;
}

.article-preview {
  margin-block-end: none;
}

.date-posted {
  font-size: 14px;
  color: #a78bfa;
}

@media screen and (min-width: 768px) {
  .categories li {
    width: 25%;
    float: left;
  }
}